html,
body {
	margin: 0;
	padding: 0;
}
body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	width: 520px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}
#tweetsearch {
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#tweetsearch.errored #twitter-search-results {
	color: red;
}
body.loading footer, body.loaded footer.hidden, #tweetsearch.errored #favorite-tweets, #tweetsearch.zero-results #favorite-tweets, body.searching #favorite-tweets,
body.searching #twitter-search-results, body.searching footer,
#tweetsearch.search-mode #favorite-tweets, #tweetsearch.search-mode #clear-favorites, #tweetsearch #clear-search {
	display: none;
}
#tweetsearch.zero-results #twitter-search-results {
	font-style: italic;
}
#tweetsearch.errored #twitter-search-results, #tweetsearch.zero-results #twitter-search-results {
	margin-top: 20px;
}
#tweetsearch h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	padding: 0 0 10px 0;
}
#tweetsearch input[type="text"] {
	width: 466px;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999999;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
#tweetsearch input::-webkit-input-placeholder {
	font-style: italic;
}
#tweetsearch footer {
	margin: 20px -20px -20px -20px;
	overflow: hidden;
	color: #555555;
	background: #f4fce8;
	border-top: 1px solid #ededed;
	padding: 0 20px;
	line-height: 37px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#clear-search, #clear-favorites {
	float: right;
	line-height: 20px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.1);
	color: #555555;
	font-size: 11px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 0 10px 1px;
	cursor: pointer;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}
#tweetsearch #view-favorites.disabled, #tweetsearch #view-favorites.disabled:hover {
	color: #555;
	cursor: default;
	text-decoration: none;
}
#tweetsearch.search-mode #clear-search {
	display: block;
}
#pagination {
	position: relative;
	width: 100%;
	height: 40px;
}
#previous-page, #next-page {
	position: absolute;
	top: 10px;
}
#previous-page {
	left: 0;
}
#next-page {
	right: 0;
}
#pagination.inactive, #previous-page.inactive, #next-page.inactive {
	display: none;
}