img {
border:0;
}
ul { padding: 0; }
i,.icon {
zoom:1;
display:inline-block;
vertical-align:text-top;
background-image:url(/images/twitter_web_sprite_icons.png);
background-position:0 0;
background-repeat:no-repeat;
}

a {
color:#0084b4;
text-decoration:none;
}

a:focus,.dropdown-menu li button:focus,.tweet-proof-container:focus,.stream-item:focus,.upload-file a.thumbnail-close:focus,.tweet-box .geo-control a.geo-location {
outline:0;
}

a:hover,a:focus,.with-icn:hover b,.with-icn:focus b,.module .active .list-link:focus,.username-link:hover,.pretty-link:hover b,.username-link:focus,.pretty-link:focus b,.account-group:hover .fullname,.account-group:focus .fullname,.account-summary:focus .fullname,.tweet.favorited .action-fav-container a:focus b,.media-gallery-content .tweet:hover .details:hover {
text-decoration:underline;
cursor: pointer;
}

.btn:focus,.with-icn:hover,.with-icn:focus,.dropdown-menu li>a:focus .account-group b,.dropdown-account .pretty-link:hover b,.list-action:hover,.stats a:hover,.stats a:focus,.profile-card.profile-header .stats a:hover,.avatar-row .user-static-list-item:hover,s,.pretty-link:hover,.pretty-link:hover s,.pretty-link:focus,.pretty-link:focus s,.account-group:hover,.account-summary:focus .account-group,.account-summary:hover,.account-summary:focus,.account-group:focus,.tweet.favorited .tweet-actions .action-fav-container a:focus .sm-fav,.banner-inside a.pane-close:hover {
text-decoration:none;
}

.account-group:hover .username,.account-group:focus .username,.account-summary:focus .username {
text-decoration:none;
color:#999;
}

.with-icn i {
margin-right:1px;
}

.with-icn b {
font-weight:400;
color:inherit;
}

p,.more-tweet-actions .dropdown .dropdown-menu,.profile-card.profile-header .translator-large,.tweet-form.condensed .tweet-content {
margin:0;
}

.follow-btn .action-text,.not-following.follow-request-sent .follow-btn .follow-text,.following .follow-btn:hover .following-text,.following.first-hover .follow-btn:hover .unfollow-text,.blocked .follow-btn:hover .block-text,.follow-request-sent .follow-btn:hover .pending-text,.follow-combo .btn-group-dropdown li a,.follow-combo .btn-group-dropdown .dropdown-divider,.follow-combo.including .btn-group-dropdown .is-not-including,.follow-combo.notifying .btn-group-dropdown .is-not-notifying,.follow-combo.blocked .btn-group-dropdown .is-not-blocked,.follow-combo .can-send-dm,.pending .follow-button .follow-text,.following .follow-button:hover .following-text,.following .follow-button.cancel-hover-style:hover .unfollow-text,.blocked .follow-button:hover .blocked-text,.pending .follow-button:hover .pending-text,.pending .follow-button.cancel-hover-style:hover .cancel-text,.user-actions .user-dropdown li,.blocked .user-dropdown .not-blocked,.including .user-dropdown .retweet-on-text,.notifying .user-dropdown .device-notifications-on-text,.blocked .user-dropdown .mention-text,.blocked .user-dropdown .list-text,.blocked .user-dropdown .block-text,.blocked .user-dropdown .report-spam-text,.friend-actions .pending-btn-text,.friend-actions .pending .active-btn-text,.subscribe-btn>div,.user-actions .follow-link .link-text,.hidden,.flipped-dashboard .dashboard .chev-right,#signout-form,body.ja .has-sms,html[lang=ja] .has-sms,.feedback-callout .feedback-data-toggle,.promptbird-below-black-bar .import .narrow,.promptbird-dashboard-narrow .import .wide,.promptbird-dashboard-narrow .vit-de .btn-user-actions,.empty-timeline-header .dismiss.disabled,.empty-timeline-header .js-done.disabled,.big-avatar-list .list-item .btn-user-actions,.empty-timeline .list-item .following .follow-btn:hover .unfollow-text,.account-summary .maybe-follows-you,.permalink-tweet .actions .action-open-container,.wtf-module,.collapse-stream-item,.stream-item.open .expand-stream-item,.stream-item.open .simple-tweet .collapse-stream-item,.stream-item.open .simple-tweet.opened-tweet .expand-stream-item,.supplement.open .original-tweet .expand-stream-item,.discover-item.open .simple-tweet .expand-stream-item,.discover-item.open .simple-tweet .collapse-stream-item,.permalink .simple-tweet .expand-stream-item,.permalink .simple-tweet .collapse-stream-item,.media-slideshow-tweet .expand-stream-item,.media-slideshow-tweet .collapse-stream-item,.recent-tweets .simple-tweet .expand-stream-item,.recent-tweets .simple-tweet .collapse-stream-item,.discover-item .simple-tweet .details-icon,.permalink .simple-tweet .details-icon,.recent-tweets .simple-tweet .details-icon,.tweet-actions,.proxy-tweet-container,.tweet span.unfavorite,.tweet.favorited span.favorite,.tweet.retweeted .retweet,.tweet .undo-retweet,.tweet.my-tweet .action-rt-container,.tweet .tweet-actions .action-del-container,.tweet .cannot-retweet,.recent-tweets .tweet-actions,.recent-tweets .tweet .action-reply-container,.recent-tweets .tweet .action-del-container,.recent-tweets .tweet .action-fav-container,.recent-tweets .tweet .action-rt-container,.recent-tweets .tweet .action-more-container,.recent-tweets .tweet .action-open-container .separator,.recent-tweets .tweet .tweet-actions .open-tweet,.discover-item .tweet .tweet-actions .open-tweet,.tweet-inverted.focus .action-more-container,.tweet-inverted:hover .action-more-container,.stream-fail-container,.inline-reply-tweetbox .tweet-box-title,.timeline-end.has-items .empty-text,.timeline-end .stream-loading,.timeline-end.has-more-items .stream-end,.permalink .permalink-header .time,.permalink-tweet .tweet-actions .action-open-container,.permalink-tweet .edit-profile-btn,.permalink .hidden-replies-container,.modal .modal-tweet .actions,.modal .modal-tweet .follow-bar,.modal .modal-tweet .expanded-content,.modal .modal-tweet .tweet-details-fixer,.modal .modal-tweet .stream-item-footer,.tweet-form.condensed .tweet-box-extras,.tweet-form.condensed .tweet-button,.tweet-form.has-thumbnail .thumbnail-container .filename,.photo-selector.disabled .image-selector,.tweet-post-iframe,.tweet-form.tweeting .tweet-counter,#geo-disabled-dropdown,#geo-enabled-dropdown,.dashboard .geo-picker .geo-status,.twttr-dialog-wrapper .tweet-box-title,.condensed .tweet-button-container,.twttr-editor .twitter-media-thumbs,.twttr-editor.has-thumbnails.closing .twitter-media-thumbs,.max-turkeys input.turkey-file-input,.turkey-selected-files,.turkey-post-target,.modal-container,.modal-overlay,.gallery-container,.gallery-overlay {
display:none;
}
.user-actions.not-following .follow-link .follow-text,.user-actions.following .follow-link .unfollow-text,.user-actions.pending .follow-link .cancel-text,.inline-list li,.flex-module-header h3,.stats li,.media-row img,.media-box img,.profile-card .stats strong,.stream-item.open .collapse-stream-item,.stream-item.open .simple-tweet .expand-stream-item,.stream-item.open .simple-tweet.opened-tweet .collapse-stream-item,.supplement.open .original-tweet .collapse-stream-item,.discover-item .simple-tweet .simple-details-link,.permalink .simple-tweet .simple-details-link,.media-slideshow-tweet .tweet .simple-details-link,.recent-tweets .simple-tweet .simple-details-link,.trend-items .tweet .simple-details-link,.tweet-actions li,.tweet:hover .dismiss-promoted,.tweet.focus .dismiss-promoted,.opened-tweet .dismiss-promoted,.tweet.retweeted .undo-retweet,.tweet.favorited span.unfavorite,.my-tweet .tweet-actions .action-del-container,.can-delete .tweet-actions .action-del-container,.opened-tweet .tweet-actions .close-tweet,.opened-tweet.original-tweet .tweet-actions b,.tweet.retweeted .cannot-retweet,.recent-tweets .tweet .tweet-actions .details-tweet,.discover-item .tweet .tweet-actions .details-tweet,#banners form.turn-phx-off-form {
display:inline;
}
.not-following .follow-btn .follow-text,.following .follow-btn .following-text,.following .follow-btn:hover .unfollow-text,.following.first-hover .follow-btn:hover .following-text,.blocked .follow-btn .block-text,.blocked .follow-btn:hover .unblock-text,.follow-request-sent .follow-btn .pending-text,.follow-request-sent .follow-btn:hover .cancel-req-text,.follow-combo .btn-group-dropdown .is-not-blocked,.follow-combo.following .btn-group-dropdown .is-following,.follow-combo.following .btn-group-dropdown .is-not-including,.follow-combo.following .btn-group-dropdown .is-not-notifying,.follow-combo.including .btn-group-dropdown .is-including,.follow-combo.notifying .btn-group-dropdown .is-notifying,.follow-combo.dismissable .btn-group-dropdown .is-dismissable,.follow-combo .btn-group-dropdown .is-not-blocked.dropdown-divider,.follow-combo.following .btn-group-dropdown .is-following.dropdown-divider,.follow-combo.blocked .is-blocked,.follow-combo.can-dm .can-send-dm,.btn-group.open .btn-group-dropdown,.not-following .follow-button .follow-text,.following .follow-button .following-text,.following .follow-button:hover .unfollow-text,.following .follow-button.cancel-hover-style:hover .following-text,.blocked .follow-button .blocked-text,.blocked .follow-button:hover .unblock-text,.pending .follow-button .pending-text,.pending .follow-button:hover .cancel-text,.pending .follow-button.cancel-hover-style:hover .pending-text,.user-actions .user-dropdown .dropdown-caret,.user-actions .user-dropdown .mention-text,.user-actions .user-dropdown .list-text,.user-actions .user-dropdown .block-text,.user-actions .user-dropdown .report-spam-text,.user-actions .user-dropdown .not-blocked,.user-actions .user-dropdown .not-blocked,.following .user-dropdown .retweet-on-text,.following .user-dropdown .device-notifications-on-text,.following .user-dropdown .is-following,.including .user-dropdown .retweet-off-text,.notifying .user-dropdown .device-notifications-off-text,.dismissable .user-dropdown .hide-suggestion-text,.blocked .user-dropdown .unblock-text,.can-dm .user-dropdown .dm-text,.user-actions .open .dropdown-menu,.friend-actions .active-btn-text,.friend-actions .pending .pending-btn-text,.subscribe-btn.not-subscribed .subscribe-text,.subscribe-btn.subscribed .remove-text,.retweeted .dogear,.favorited .dogear,.retweeted.favorited .dogear,.dropdown.open .dropdown-menu,.module .list-action,.global-nav .messages .count.new,.nav .new .nav-new,.mini-profile .view-profile,.media-videos .video .play,.big-avatar-list .list-item .username,.empty-timeline .list-item .following .follow-btn:hover .following-text,.profile-card .profile-picture,.profile-card.profile-header .stats a strong,.dm-button.new .dm-new,.find-friends-result .avatar,.find-friends-result .fullname,.find-friends-result .username,.wtf-module.has-content,.open .expanded-content,.opened-tweet .expanded-content,.animating .expanded-content,.open .replies,.animating .replies,.content-main .open .in-reply-to,.content-main .animating .in-reply-to,.timeline-end.has-more-items .stream-loading,.permalink-tweet .expanded-content,.tweet-actions {
display:block;
}
.tweet.favorited .action-fav-container b,.tweet.favorited .action-fav-container:hover b,.tweet.favorited .action-fav-container a:focus b {
color:#ff9b00;
}
.feedback-data-toggle.off:hover .sm-fav,.feedback-data-toggle.on .sm-fav,.tweet.favorited .tweet-actions .sm-fav,.tweet.favorited .tweet-actions .action-fav-container:hover .sm-fav,.tweet.favorited .tweet-actions .action-fav-container a:focus .sm-fav,.permalink-tweet.favorited .tweet-actions .sm-fav,.permalink-tweet.tweet.favorited .tweet-actions .action-fav-container:hover .sm-fav,.permalink-tweet.tweet.favorited .tweet-actions .action-fav-container a:focus .sm-fav {
background-color:#ff9b00;
}

.tweet .time {
position:relative;
float:right;
margin-top:1px;
color:#bbb;
}

.with-icn,.flex-module-header p,.trends .promoted-text,.username,.time,.time a,.metadata,.metadata button.btn-link,.metadata a,.tweet-media .media-attribution-link,.flag-container .flaggable.btn-link,.flag-container,.tweet-geo-text {
font-size:12px;
color:#999;
}

.stream-item .content,.permalink-tweet .content,.modal .modal-tweet .content {
margin-left:58px;
}

.account,.interest-category,.list,.saved-search,.tweet,.app,.discover-item {
position:relative;
min-height:51px;
border-bottom:1px solid #e8e8e8;
padding:9px 12px;
}

.stream-item,.unfocusable-stream-item {
background:#fff;
border-left:1px solid rgba(0,0,0,.1);
border-right:1px solid rgba(0,0,0,.1);
-webkit-background-clip:padding-box;
-moz-background-clip:padding;
background-clip:padding-box;
}

.clearfix:before,.clearfix:after,.control-group:before,.control-group:after,.stream-item>div:before,.stream-item>div:after,.module:after,.module:before,.follow-card header:after,.follow-card header:before,.follow-bar:after,.follow-bar:before,.search-header:after,.search-header:before,.tweet-form:after,.tweet-form:before,.modal-footer:after,.modal-footer:before,.local-trends-breadcrumb:after,.local-trends-breadcrumb:before,.input-prepend .add-on,.input-append .add-on,.wrapper:after,.wrapper:before,.expanded-content:before,.expanded-content:after,.stream-item:before,.stream-item:after {
content:"";
display:table;
}

.clearfix:after,.control-group:after,.stream-item>div:after,.module:after,.follow-card header:after,.follow-bar:after,.search-header:after,.tweet-form:after,.modal-footer:after,.local-trends-breadcrumb:after,.wrapper:after,.expanded-content:after,.stream-item:after {
clear:both;
}

.stream-item-header .avatar,.permalink-header .avatar,.app .app-img {
position:absolute;
top:12px;
left:12px;
}

.fullname {
font-weight:700;
color:#333;
}

.tweet p {
word-wrap:break-word;
}

.sm-reply,.sm-rt,.sm-fav,.sm-image,.sm-video,.sm-audio,.sm-geo,.sm-in,.sm-lock,.sm-trash,.sm-page,.sm-embed,.sm-summary,.sm-chat,.sm-bird,.sm-top-tweet,.sm-more {
height:13px;
background-color:#999;
}

.sm-fav,.opened-tweet:hover .sm-fav,.opened-tweet.focus .sm-fav,.stream-item-activity .original-tweet:hover .sm-fav {
background-position:-40px -190px;
width:10px;
}

.dogear {
position:absolute;
top:0;
right:0;
display:none;
width:24px;
height:24px;
}
.favorited .dogear {
background-position:-30px -450px;
}


a,
.btn-link,
.btn-link:focus,
.pretty-link:hover s,
.pretty-link:hover b,
.pretty-link:focus s,
.pretty-link:focus b,
.metadata a:hover,
.metadata a:focus,      
.account-group:hover .fullname,
.account-group:focus .fullname,
.account-summary:focus .fullname,
.stats a:hover,
.stats a:hover strong,
.stats a:focus,
.stats a:focus strong,
.profile-modal-header .fullname a:hover,
.profile-modal-header .username a:hover,
.profile-modal-header .fullname a:focus,
.profile-modal-header .username a:focus,
.story-article:hover .metadata,
.story-article .metadata a:focus,
.find-friends-sources li:hover .source,
.stream-item a:hover .fullname,
.stream-item a:focus .fullname,  
.stream-item .view-all-supplements:hover,
.stream-item .view-all-supplements:focus,
.tweet .time a:hover,
.tweet .time a:focus,
.tweet-actions a,
.tweet .details.with-icn b,
.stream-item:hover .original-tweet .expand-action-wrapper,
.stream-item .original-tweet a:focus .expand-action-wrapper,
.opened-tweet.original-tweet  .expand-action-wrapper,
.stream-item:hover .original-tweet .details b,
.stream-item .original-tweet .details:focus b,
.stream-item.open .original-tweet .details b,
.simple-tweet:hover .details b,
.simple-tweet .details:focus b,
.simple-tweet.open .details b,
.simple-tweet:hover .details .expand-action-wrapper,
.simple-tweet .details:focus .expand-action-wrapper,
.simple-tweet.open .details .collapse-action-wrapper,
.simple-tweet:hover .details .simple-details-link,
.simple-tweet .details:focus .simple-details-link,
.client-and-actions a:hover,
.client-and-actions a:focus, 
.dismiss-promoted:hover b,
.tweet .context .pretty-link:hover s,
.tweet .context .pretty-link:hover b,
.tweet .context .pretty-link:focus s,
.tweet .context .pretty-link:focus b,
.list .username a:hover,
.list .username a:focus,
.list-membership-container .create-a-list,
.list-membership-container .create-a-list:hover,
.story-header:hover .view-tweets,
.card .list-details a:hover,
.card .list-details a:focus,
.card .card-body:hover .attribution,
.card .card-body .attribution:focus,
.events-card .card-body:hover .attribution,
.events-card .card-body .attribution:focus,
.new-tweets-bar,
.onebox .soccer ul.ticker a:hover,
.onebox .soccer ul.ticker a:focus,
.discover-item-actions a,
.remove-background-btn,
.stream-item-activity-me .latest-tweet .tweet-row a:hover,
.stream-item-activity-me .latest-tweet .tweet-row a:focus {
    color: #0084B4;
}

.tweet .sm-reply,
.tweet .sm-rt,
.tweet .sm-fav,
.tweet .sm-image,
.tweet .sm-video,
.tweet .sm-audio,
.tweet .sm-geo,
.tweet .sm-in,
.tweet .sm-trash,
.tweet .sm-more,
.tweet .sm-page,
.tweet .sm-embed,
.tweet .sm-summary,
.tweet .sm-chat,
.timelines-navigation .active .profile-nav-icon,
.timelines-navigation .profile-nav-icon:hover,
.timelines-navigation .profile-nav-link:focus .profile-nav-icon,
.sm-top-tweet,
.metadata a.tweet-geo-text:hover .sm-geo,
.discover-item .js-action-card-search:hover .sm-search,
.discover-item .js-action-card-search:focus .sm-search {
    background-color: #0084B4;
}
