
  <link rel="stylesheet" href="stylesheets/tweet_search.css"/>
  <link rel="stylesheet" href="stylesheets/twitter.css"/>

  <div id="tweetsearch">

    <header>
      <h1>Tweet Search</h1>
      <div id="favorites-link"></div>
      <input id="query" type="text" placeholder="Enter search term">
    </header>

    <section id="main">
      <div class="stream-items" id="twitter-search-results"></div>
      <div id="pagination" class="inactive">
        <a id="previous-page" class="inactive">&laquo; Previous Page</a> 
        <a id="next-page" class="inactive">Next Page &raquo;</a> 
      </div>
      <div class="stream-items" id="favorite-tweets"></div>
    </section>

    <footer>
      <a id="clear-search">Clear search</a>
      <a id="clear-favorites">Clear favorites</a>
    </footer>

  </div>

  <script src="javascripts/json2.js"></script>
  <script src="javascripts/jquery-1.7.1.js"></script>
  <script src="javascripts/underscore.js"></script>
  <script src="javascripts/backbone.js"></script>
  <script src="javascripts/backbone-localstorage.js"></script>
  <script src="javascripts/tweet_search.js"></script>
  <script>
    _.templateSettings = {
        interpolate: /\{\{\=(.+?)\}\}/g,
        evaluate: /\{\{(.+?)\}\}/g
    };
  </script>
  <%#= include_javascripts :workspace %>
  <script>
    (function(){
    window.JST = window.JST || {};
    
    window.JST['favorites_link_template'] = _.template('<a id="view-favorites" class="width-icn {{= count > 0 ? \'\' : \'disabled\'}}"><i class="sm-fav"></i> <b>Favorites ({{=count}})</b></a>');
    window.JST['tweet_template'] = _.template('  <div class="tweet original-tweet js-stream-tweet js-actionable-tweet js-hover js-profile-popup-actionable">\n    <div class="content">\n                \n      <div class="stream-item-header">\n        <small class="time">\n          <a href="http://twitter.com/{{=from_user}}/status/{{=id}}" class="tweet-timestamp js-permalink js-nav" title="{{=created_at}}" target="_new"><span class="_timestamp js-short-timestamp js-relative-timestamp">{{=created_at}}</span></a>\n        </small>\n        <a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="https://twitter.com/{{=from_user}}" target="_new"">\n          <img class="avatar js-action-profile-avatar" src="{{=profile_image_url}}" alt="Michelle ">\n          <strong class="fullname js-action-profile-name show-popup-with-id">{{=from_user_name}}</strong>\n          <span>‏</span><span class="username js-action-profile-name"><s>@</s><b>{{=from_user}}</b></span>\n        </a>\n      </div>\n                \n      <p class="js-tweet-text">\n       {{=text}}\n      </p>\n                \n      <div class="stream-item-footer">\n        \n        <i class="dogear"></i>\n        <div class="context"></div>      \n          <ul class="tweet-actions js-actions">\n            <li class="action-fav-container">\n              <a class="with-icn js-toggle-fav">\n                <i class="sm-fav"></i>\n                  <b><span class="unfavorite" title="Undo favorite">Favorited</span><span class="favorite" title="Favorite">Favorite</span></b>\n              </a>\n            </li>\n          </ul>\n        </div>\n          \n     </div>\n\n    </div>\n  </div>\n');
    })();
  </script>
